
<div class="col-md-4">
	<div class="row userstats">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-10">
			<h3><%= link_to current_user.name, show_user_path(id: current_user.id), class: "no-underline" %></h3>
			<p><%= link_to "@#{current_user.username}", show_user_path(id: current_user.id), class: "no-underline" %></p>
		</div>
	</div>
	<div class="row userstats">
		<div class="col-md-4">
			Meetups
		</div>
		<div class="col-md-4">
			Following
		</div>
		<div class="col-md-4">
			Followers
		</div>
	</div>
	<div class="row userstats">
		<div class="col-md-4">
			<%= link_to current_user.posts.count, show_user_path(id: current_user.id), class: "no-underline" %>
		</div>
		<div class="col-md-4">
			<%= link_to current_user.following.count, following_path(id: current_user.id), class: "no-underline" %>
		</div>
		<div class="col-md-4">
			<%= link_to @followercount, followers_path(id: current_user.id), class: "no-underline" %>
		</div>
	</div>
</div>

